<div layout="column">
  layout="row"
  <div layout="row" style="height: 50px">
    <div class="md-shadow-bottom-z-2" flex="50" layout="row" layout-align="start center" style="background-color:blue; color: white">flex 66</div>
    <div class="md-shadow-bottom-z-2" flex layout="row" layout-align="center center" style="background-color:black; color: white">flex</div>
    <div class="md-shadow-bottom-z-2" flex="30" layout="row" layout-align="end center" style="background-color:red; color: white">flex 33</div>
  </div>
  </div>

<div layout="column" style="margin-top:20px">
  layout="row" layout-margin
  <div layout="row" layout-margin style="height: 50px">
    <div class="md-shadow-bottom-z-2" flex="50" layout="row" layout-align="start center" style="background-color:pink; color: white">flex 66</div>
    <div class="md-shadow-bottom-z-2" flex layout="row" layout-align="center center" style="background-color:black; color: white">flex</div>
    <div class="md-shadow-bottom-z-2" flex-nogrow layout="row" layout-align="end center" style="background-color:red; color: white; min-width:200px">flex 33</div>
  </div>
</div>

<div class="md-display-4">md-display-4</div>
<div class="md-display-3">md-display-3</div>
<div class="md-display-2">md-display-2</div>
<div class="md-display-1">md-display-1</div>
<div class="md-headline">md-headline</div>
<div class="md-title">md-title</div>
<div class="md-subhead">md-subhead</div>
