
<md-tab-group (selectChange)="tabChanged($event)">
  <md-tab label="Infos" >
      <child-infos [child]="child"></child-infos>

<!--
      <inline-edit [(ngModel)]="childName" label="Name" [required]="true" type="text">
         

  </inline-edit>
 -->
  </md-tab>
  <md-tab label="Contrats">
TODO
  </md-tab>
  <md-tab label="Congés">
TODO
  </md-tab>
  <md-tab label="Historique des présences">
      TODO
  </md-tab>
</md-tab-group>

<button md-fab class="floating-fab" (click)="openDialog()" color="accent" *ngIf="showAddButton">
   <md-icon>add</md-icon>
</button>

<button md-fab class="floating-fab" (click)="openDialog()" color="warn" *ngIf="currentTabIndex === TABS.INFOS">
   <md-icon>delete</md-icon>
</button>