.bold {
  font-weight: 700;
}
/*
.block {
  display: inline-block;
}

div.inline-edit {
  text-decoration: none;
  border-bottom: #A8B9CE dashed 1px;
  cursor: pointer;
  text-align: left;
  padding: .5em 0;
  color: #444 !important;
  width: auto;
}

input {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px 10px;
}*/