{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "transform-object-assign",
        "transform-object-rest-spread"
    ],
    "sourceMap": "inline",
    "compact": true
}