<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="tabs-left">
			<ul class=" col-md-3 nav nav-tabs">
				<li class="active"><a href="#a" data-toggle="tab"><span class="glyphicon glyphicon-th"></span>
				<span class="nav-text">My Dashboard</span></a></li>
				<li><a href="#b" data-toggle="tab"><span class="glyphicon glyphicon-user"></span><span class="nav-text"> My Profile</span></a></li>
				<li><a href="#c" data-toggle="tab"><span class="glyphicon glyphicon-bookmark"></span><span class="nav-text">My Bookmarks</span></a></li>
				<li><a href="#d" data-toggle="tab"><span class="glyphicon glyphicon-envelope"></span><span class="nav-text">My Newsletters</span></a></li>
				<li><a href="#e" data-toggle="tab"><span class="glyphicon glyphicon-shopping-cart"></span><span class="nav-text">My Orders</span></a></li>
				<li><a href="#f" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span><span class="nav-text">My Account</span></a></li>
			</ul>
			<div class="col-md-9 tab-content">
				<div class="tab-pane active" id="a"><h3>Who do you Love?</h3>
				</div>
				<div class="tab-pane" id="b"><h3>What's your Favorite?</h3>
				</div>
				<div class="tab-pane" id="c">CCCC</div>
				<div class="tab-pane" id="d">DDDDD</div>
				<div class="tab-pane" id="e">EEEEE</div>
				<div class="tab-pane" id="f">FFFFFF</div>
			</div><!-- /tab-content -->
			</div><!-- /tabbable -->
		</div><!-- /col -->
	</div><!-- /row -->
</div><!-- /container -->