<span class="logo">
      KEEPERS OF TIME
</span>
<nav>
    <span>
        <a class="header" [routerLink]=" ['./'] ">
            MAIN
        </a>
    </span>
    <span>
        <a class="header" [routerLink]=" ['./home'] ">
            DOWNLOAD APP
        </a>
    </span>
    <span>
        <a class="header" [routerLink]=" ['./detail'] ">
            GAMES
        </a>
    </span>
    <span>
        <a [routerLink]=" ['./about'] ">
            <button> 
                LOGIN
            </button>
        </a>
    </span>
</nav>