<div class="header">
    <div class="header-content">
        <div class="logo">
              KEEPERS OF TIME
        </div>
        <div class="menu">
            <a  [routerLink]=" ['./'] ">
                MAIN
           </a>
            <a [routerLink]=" ['./home'] ">
                DOWNLOAD APP
            </a>
            <a [routerLink]=" ['./detail'] ">
                GAMES
            </a> 
            <a [routerLink]=" ['./about'] ">
                <button> 
                    LOGIN
                </button>
            </a>
        </div>
    </div>
</div>