<!-- Reminder Content -->
<div class="bg-white pulldown">
  <div class="content content-boxed overflow-hidden">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="push-30-t push-20 animated fadeIn">
          <!-- Reminder Title -->
          <div class="text-center">
            <i class="fa fa-2x fa-scribd text-primary">mart-osc</i>
            <p *ngIf="!token" class="text-muted push-15-t">Don’t worry, we’ll send a reset link to you.</p>
            <p *ngIf="!!token" class="text-muted push-15-t">Please input your new password</p>
          </div>
          <!-- END Reminder Title -->

          <!-- Reminder Form -->
          <!-- jQuery Validation (.js-validation-reminder class is initialized in js/pages/base_pages_reminder.js) -->
          <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
          <form class="js-validation-reminder form-horizontal push-30-t">
              <div class="form-group" *ngIf="!token">
                  <div class="col-xs-12">
                      <div class="form-material form-material-primary floating">
                          <input class="form-control" type="email" id="reminder-email" name="reminder-email" [(ngModel)]="_data['email']">
                          <label for="reminder-email">Enter Your Email</label>
                      </div>
                  </div>
              </div>
              <div *ngIf="!!token">
                  <div class="form-group">
                      <div class="col-xs-12">
                          <div class="form-material form-material-primary floating">
                              <input class="form-control" type="password" id="new_password" name="new_password" [(ngModel)]="_data['new_password']">
                              <label for="new_password">Password</label>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                          <div class="form-material form-material-primary floating">
                              <input class="form-control" type="password" id="confirm_new_password" name="confirm_new_password" [(ngModel)]="_data['confirm_new_password']">
                              <label for="confirm_new_password">Confirm Password</label>
                          </div>
                      </div>
                  </div>
              </div>

            <div class="form-group">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <button class="btn btn-sm btn-block btn-primary" type="submit">Reset Password</button>
              </div>
            </div>
          </form>
          <!-- END Reminder Form -->

          <!-- Extra Links -->
          <div class="text-center push-50-t">
            <a routerLink="/signin">Login?</a>
          </div>
          <!-- END Extra Links -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Reminder Content -->

<!-- Reminder Footer -->
<div class="pulldown push-30-t text-center animated fadeInUp">
  <small class="text-muted"><span class="js-year-copy"></span> &copy; Smart-OSC</small>
</div>
<!-- END Reminder Footer -->
