.rxjs-menu,
.rxjs-menu ul {
  list-style: none;
  padding: 0;
}
.rxjs-menu li {
  margin: 0;
}
.rxjs-menu > li:nth-child(1) {
  border-top: none;
}
.rxjs-menu .ac-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
.rxjs-menu ac-select {

  /* Override md-select margins.  With margins the menu will look incorrect and causes mobile list
     to not be scrollable.
   */
  margin: 0;
  width: 100%;
}
.rxjs-menu .ac-button.active {
  color: #03a9f4;
}
ul.rxjs-menu li:hover {
  background: rgba(0,0,0,0.1);
}

.side-nav {
  background: #FFF;
  box-shadow: 3px 0 6px rgba(0,0,0,0.3);
  width: 260px;
  bottom: 0;
  overflow: auto;
}

nav {
  align-items: stretch;
}

[layout] {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

[layout=column] {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wide{
  width:100%;
}

.rxjs-content {
  align-items: stretch;
  display: block;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
