html {width: 100%; height: 100%;}
body {width: 100%; height: 100%; margin: 0; padding: 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px; line-height: 1.3;
}

app {display: flex; flex-flow: column nowrap; width: 100%; height: 100%;

	header, footer, main {flex: 0 1 auto;}
	main {flex-grow: 2;}


	header, footer {padding: 20px; background: #eee;}
	main {overflow: auto; padding: 20px;}


	header {
		nav {
			a {color: #06d; margin-right: 1em; text-decoration: none;
				&:hover {text-decoration: underline;}
				&.router-link-active {color: #888;
					&:hover {text-decoration: inherit;}
				}
			}
		}
	}

}