$nav-button-color: #00838F;

$globalBorderRadius: 3px;
$borderColor: #aaaaaa;
$globalPadding: 15px;
$globalMarginDistance: 5px;
$globalFontColor: #454545;

$minTabletWidth: 768px;
$minDesktopWidth: 992px;
$primaryColor: #00BCD4;
