/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

// @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
@import '~@angular/material/core/theming/all-theme';
@include mat-core();

$app-primary: mat-palette($mat-blue-grey);
$app-accent:  mat-palette($mat-deep-orange);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

$primary-color: mat-color($app-primary);
$primary-color-darker: mat-color($app-primary, A700);
$primary-color-lighter: mat-color($app-primary, A100);

$accent-color: mat-color($app-accent);
$accent-color-darker: mat-color($app-accent, A700);
$accent-color-lighter: mat-color($app-accent, A100);

$text-color: rgba(black, 0.87);

body,html {
  height:100%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.floating-fab {
  z-index:100;
    position: fixed;
    bottom: 20px;
    right:20px;
    md-icon {
        font-size: 36px;
        width: 36px;
    }
}