/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import 'fonts';
input {
  color: $globalFontColor;
}

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  border-radius: 4px;
  color: white;
  line-height: 1.25;
  margin: 8px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.container {
  @media (min-width: 678px) {
    padding: 0 30px
  }

  @media (min-width: 1024px) {
    margin: auto;
    max-width: 1024px;
  }
}

.btn {
  border-radius: $globalBorderRadius;
  border: 1px solid $borderColor;
  color: $globalFontColor;
  margin-bottom: $globalMarginDistance;
  padding: 5px 15px;
  text-decoration: none;
  white-space: nowrap;
}
