<md-toolbar>
        <!--<img md-card-sm-image [src]="element.image" *ngIf="element.image !== ''">
        <i class="material-icons md-48 md-inactive" *ngIf="element.icon !== ''">{{element.icon}}</i>-->
        <span>MdDialog</span>
        <!--<span>{{element.title}}</span>
        <span>{{element.description}}</span>-->
        <button style="right: 15px; position: absolute;" md-icon-button (click)="dialogRef.close()"><md-icon>close</md-icon></button>
</md-toolbar>
<div style="padding:1em;">

    <h2>The New Mobile Concept</h2>
    <img src="https://sharepointkunskap.files.wordpress.com/2013/06/mds_002.png" alt="">

    <p>In this Example, we're playing with Javascript and Angular2</p>

</div>
<!--<button type="button" (click)="dialogRef.close('yes')">Yes</button>
<button type="button" (click)="dialogRef.close('no')">No</button>-->