fs-grid-cards {
  .flex-container {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;

    display: flex;

    flex-flow: row wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  .material-icons.md-48 {
    font-size: 60px;
    color: #c1c1c1;
  }

  md-card {
      flex: 0 0 100%;
      display: flex;
      min-width: 200px;
      min-height: 150px;
      box-sizing: border-box;
      margin-bottom: 10px;
      md-card-title-group {
        flex: 1;
      }

      @media screen and (min-width: 480px) {
        flex: 1 0 33%!important;
        min-width: 200px;
        min-height: 150px;
        box-sizing: border-box;
        margin-bottom: 5px;
      }
  }

  .grid-title {
    text-align: center;
  }
}
