.flex-container {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  
  display: flex;
  
  flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: row;
}

md-card { 
    flex: 0 0 100%;
    display: flex;
    min-width: 200px;
    min-height: 150px;
    box-sizing: border-box;
    margin-bottom: 10px;

    @media screen and (min-width: 480px) {
      flex: 0 0 33%!important;
      min-width: 200px;
      min-height: 150px;
      box-sizing: border-box; 
      margin-bottom: 5px;
    }
}