<!-- <h1>Lazy loaded module!</h1> -->

<h3>ABOUT</h3>

<md-tab-group>
  <md-tab>
    <template md-tab-label>
      The best pasta
    </template>
    <h1>Best pasta restaurants</h1>
    <p>...</p>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      The worst sushi
    </template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>

<fs-youtube-api>
</fs-youtube-api>

<fs-users *ngIf="dataUsers" [users]="dataUsers" title="Our Team"></fs-users>

<fs-twitter-api>
</fs-twitter-api>
