$font-main: Arial;
$title-color: #444;

* { font-family: $font-main; }
h2 { color: $title-color; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
