<h3>{{'HOME.TITLE' | translate }}</h3>

<md-tab-group>
  <md-tab>
    <template md-tab-label>
      <span class="text">Features</span>
      <span class="icon"><md-icon>fingerprint</md-icon></span>
    </template>
    <fs-custom-grid-cards [elements]="features" [rowHeight]="rowHeight"></fs-custom-grid-cards>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      <span class="text">Technologies</span>
      <span class="icon"><md-icon>code</md-icon></span>
    </template>
    <fs-grid-cards [elements]="techs" [rowHeight]="rowHeight"></fs-grid-cards>
  </md-tab>
</md-tab-group>