nav.navbar {
    position: absolute;
    height:40px;
    width:100%;

    padding: 0;
    padding-right: 20px;

    .navbar-nav {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;

        .nav-link {
            padding-right: .5rem;
            padding-left: .5rem;
        }
    }

}

md-toolbar {
    md-icon {
        margin-left: -10px;
        font-size: 35px;
    }
.fill-remaining-space {
  flex: 1 1 auto;
}
}