<nav class="navbar navbar-inverse bg-primary">

    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item" dropdown dropdown-append-to-body>
            <a class="nav-link" id="single-button" dropdownToggle href="#" role="button">Dropdowndd</a>
            <ul dropdownMenu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>

</nav>