<div>

    <div class="row">
        <div class="col-sm-12">
            <a [href]="url">
                <img [src]="logoUrl" width="120" class="mx-auto d-block">
            </a>
            <h3 class="text-center">La Cabane des Landes</h3>
        </div>

    </div>

    <nav>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="fa fa-calendar fa-2x"></i> Planning
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-child fa-2x"></i> Les familles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-tachometer fa-2x"></i> Tableau de bord
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-user-circle-o fa-2x"></i> Le personnel
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-cogs fa-2x"></i> Configuration
                </a>
            </li>

        </ul>
    </nav>


</div>