<div fxLayout="column">

    <div fxLayout="column" fxLayoutAlign="space-around center">

        <div>&nbsp;</div>
        <a [href]="url">
            <img [src]="logoUrl" width="120" class="mx-auto d-block">
        </a>
        <h3>La Cabane des Landes</h3>

    </div>

    <md-list>
        <md-list-item>
            <a routerLink="/planning" fxLayout="row" fxLayoutAlign="start center">
                <md-icon>view_agenda</md-icon>
                <h4>Planning</h4>
            </a>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <a routerLink="/families" fxLayout="row" fxLayoutAlign="start center">
                <md-icon>child_care</md-icon>
                <h4>Les familles</h4>
            </a>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <a routerLink="/planning" fxLayout="row" fxLayoutAlign="start center">
                <md-icon>dashboard</md-icon>
                <h4>Tableau de bord</h4>
            </a>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <a routerLink="/planning" fxLayout="row" fxLayoutAlign="start center">

                <md-icon>person</md-icon>
                <h4>Le personnel</h4>
            </a>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <a routerLink="/planning" fxLayout="row" fxLayoutAlign="start center">

                <md-icon>settings</md-icon>
                <h4>Configuration</h4>
            </a>
        </md-list-item>

    </md-list>

    