nav  {
    margin-top: 20px;
    .nav-link {
        border-radius: 0;
        .fa {
            margin-right: 10px;

        }
    }

    a.nav-link {
        cursor: pointer;
    }
}

md-list-item {
    a {
        cursor: pointer;
        text-decoration: none;
    }
    h4 {
        font-weight: normal;
        margin-left: 10px;
    }
}