/*
[layout=row] {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
[layout] {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
*/