fs-youtube-api {
  md-input {
    flex:1;
  }
  .flex-container {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  .flex-element {
      flex: 0 0 100%;
      display: flex;
      min-width: 200px;
      min-height: 150px;
      flex-direction: column;
      box-sizing: border-box;
      margin-bottom: 10px;
      a {
        text-decoration: none;
      }
      md-card-header {
        padding-bottom: 1em;
      }
      @media screen and (min-width: 480px) {
        flex: 1 0 33%!important;
        min-width: 200px;
        min-height: 150px;
        box-sizing: border-box;
        margin-bottom: 5px;
      }
  }
}
