html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

.webpack-starter md-card{
  width: 300px;
}
.webpack-starter .wide-card{
  width: 400px;
}