
html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
md-sidenav {
  width: 200px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.my-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}
navbar {
  flex: 0 0 auto;
}
