<!--

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:red">
      <nav class="nav flex-column">
        <a class="nav-link active" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#">Disabled</a>
      </nav>
    </div>

    <div class="col left-col" style="background-color:green">

      <navbar></navbar>

      <div class="container-fluid">
          <router-outlet></router-outlet>

      </div>
    </div>
  </div>

</div>

-->
<div class="content">
  <div id="sidebar">

    <sidebar></sidebar>

  </div>
  <div id="main">

      <navbar></navbar>

      <div class="container-fluid">
      <router-outlet></router-outlet>
      </div>

  </div>
</div>
<!--/row-offcanvas -->