<div class="family-detail-children" *ngIf="family" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutWrap="wrap">

    <div class="family-detail-child" *ngFor="let child of family.children" fxFlex="calc(33% - 20px)">
        <md-card >
            <md-card-title fxLayout="row">
                <div fxFlex="none" >
                    <button md-fab disabled="true">
                        <md-icon>child_care</md-icon>
                    </button>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                    {{ child.firstName }}
                </div>
            </md-card-title>
            <md-card-content>
                A voir ...
                <div class="more">
                    <a class="white-link" routerLink="/families/{{ family.name }}/{{ family.id}}/{{ child.firstName }}/{{ child.id }}">
                        <md-icon>search</md-icon>
                    </a>
                </div>
            </md-card-content>
        </md-card>
    </div>

</div>
