<footer class="application-footer">
    <div class="row">
        <div class="col-xs-4 col-sm-2 col-md-1">
            <p>©&nbsp;{{ copyrightYear }}</p>
        </div>
        <div class="col-xs-8 col-sm-7 col-md-6">
            <p>Built with
                <span class="fa fa-heart-o" title="" data-original-title="Love"></span>
                <span class="sr-only">love</span>&nbsp;and
                <a href="http://vmjeap10i04.bfi.admin.ch/eui/oblique-ui/" title=""
                   data-original-title="The front-end framework for your Swiss branded UI.">ObliqueUI</a>
                <span class="version">(v1.3.0-RC.1)</span>
            </p>
            <p>
                <a href="http://www.zas.admin.ch" target="_blank" class="link">{{ 'department' | translate }}</a>
            </p>
        </div>
        <div class="col-xs-8 col-xs-push-4 col-sm-3 col-sm-push-0 col-md-5">
            <ul class="list-inline">
                <li>
                    <a href="http://www.disclaimer.admin.ch" title="" target="_blank" class="link"
                       data-original-title="Terms and conditions">Legal</a>
                </li>
               <!-- <li>
                    <a href="mailto:info@bit.admin.ch" title="" class="link"
                       data-original-title="This link will open your email client in order to send an email to info@bit.admin.ch">Contact</a>
                </li>-->
            </ul>
        </div>
    </div>
</footer>
