.active {
    background: lightgray;
}

div.zas-header nav {
  padding-left: 15px;
}

nav.nav-main ul > li:focus {
  outline: none;
}

a {
  color: blue;
}

a:visited {
  color: inherit;
}

nav.nav-main ul {
  padding-top: 10px;
}

nav.nav-main ul > li {
  font-size: large;
  transition: font 0.3s ease;
}

nav.nav-main ul > li:hover {
  font-size: x-large;
}
