.no-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  color: var(--app-text-color, black);
}

.no-content__message {
  color: var(--app-primary-color, blue);
}


