<nav id="sidebar">
  <!-- Sidebar Scroll Container -->
  <div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
    <div class="sidebar-content">
      <!-- Side Header -->
      <div class="side-header side-content bg-white-op">
        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
        <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout"
                data-action="sidebar_close">
          <i class="fa fa-times"></i>
        </button>
        <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
        <div class="btn-group pull-right">
          <button class="btn btn-link text-gray dropdown-toggle" data-toggle="dropdown" type="button">
            <i class="si si-drop"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right font-s13 sidebar-mini-hide">
            <li>
              <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-default pull-right"></i> <span class="font-w600">Default</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/amethyst.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-amethyst pull-right"></i> <span class="font-w600">Amethyst</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/city.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-city pull-right"></i> <span class="font-w600">City</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/flat.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-flat pull-right"></i> <span class="font-w600">Flat</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/modern.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-modern pull-right"></i> <span class="font-w600">Modern</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/smooth.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-smooth pull-right"></i> <span class="font-w600">Smooth</span>
              </a>
            </li>
          </ul>
        </div>
        <a class="h5 text-white" routerLink="/cloud">
          <i class="fa fa-scribd text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">mart-osc</span>
        </a>
      </div>
      <!-- END Side Header -->

      <!-- Side Content -->
      <div class="side-content">
        <ul class="nav-main">
          <li>
            <a routerLink="/cloud" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="si si-speedometer"></i>
              <span class="sidebar-mini-hide">Dashboard</span>
            </a>
          </li>

          <li *ngIf="data.canAccessAdmin" class="nav-main-heading"><span class="sidebar-mini-hide">Admin Area</span></li>
          <li *ngIf="data.canAccessAdmin" [ngClass]="{open: router.isActive('cloud/licenses',false)}">
            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-wallet"></i>
              <span class="sidebar-mini-hide">Manage License</span>
            </a>
            <ul>
              <li>
                <a routerLink="/cloud/licenses/grid" routerLinkActive="active">List</a>
              </li>
              <li>
                <a routerLink="/cloud/licenses/assign" routerLinkActive="active">Assign</a>
              </li>
            </ul>
          </li>
          <li *ngIf="data.canAccessAdmin" [ngClass]="{open: router.isActive('cloud/products',false)}">
            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-rocket"></i>
              <span class="sidebar-mini-hide">Manage Products</span>
            </a>
            <ul>
              <li>
                <a routerLink="/cloud/products/grid" routerLinkActive="active">List</a>
              </li>
            </ul>
          </li>
            <li *ngIf="data.canAccessAdmin" [ngClass]="{open: router.isActive('cloud/pricings',false)}">
                <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-rocket"></i>
                    <span class="sidebar-mini-hide">Manage Pricings</span>
                </a>
                <ul>
                    <li>
                        <a routerLink="/cloud/pricings/grid" routerLinkActive="active">List</a>
                    </li>
                </ul>
            </li>
          <li *ngIf="data.canAccessAdmin" [ngClass]="{open: router.isActive('cloud/users',false)}">
            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-wallet"></i>
              <span class="sidebar-mini-hide">Manage Users</span>
            </a>
            <ul>
              <li>
                <a routerLink="/cloud/users/grid" routerLinkActive="active">User</a>
              </li>
                <li>
                    <a routerLink="/cloud/users/roles/1" routerLinkActive="active">Role</a>
                </li>
            </ul>
          </li>

          <li *ngIf="data.isUser" [ngClass]="{open: router.isActive('cloud/billing-pricing',false)}">
            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-drawer"></i>
              <span class="sidebar-mini-hide">Billing & Pricing</span>
            </a>
            <ul>
              <li>
                <a routerLink="/cloud/billing-pricing/pricing" routerLinkActive="active">Pricing</a>
              </li>
              <li>
                <a routerLink="/cloud/billing-pricing/billing" routerLinkActive="active">Billing</a>
              </li>
            </ul>
          </li>

          <li *ngIf="data.isUser" class="nav-main-heading"><span class="sidebar-mini-hide">Manage Shop</span></li>
          <li *ngIf="data.isUser" [ngClass]="{open: router.isActive('cloud/manage-shop',false)}">
            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-user"></i>
              <span class="sidebar-mini-hide">User Management</span>
            </a>
            <ul>
              <li>
                <a routerLink="/cloud/manage-shop/cashiers" routerLinkActive="active">Cashiers</a>
              </li>
              <li>
                <a routerLink="/cloud/manage-shop/roles" routerLinkActive="active">Roles</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
      <!-- END Side Content -->
    </div>
    <!-- Sidebar Content -->
  </div>
  <!-- END Sidebar Scroll Container -->
</nav>
