<!--  RIGHT CONTENT  -->
<div class="right-content">
    <!--  PORTFOLIO  -->
    <div id="fourColumn" class="portfolio column main-block">
        <div class="scroller">
            <filter-component></filter-component>
            <ul>
                <li data-class="reactjs">
                    <a href=""><img src="assets/img/portfolio/fashion/1.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL fashion FOTO</span>
                        <span class="class">fashion</span>
                    </div>
                </li>
                <li data-class="angular">
                    <a href=""><img src="assets/img/portfolio/girls/1.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL girls FOTO</span>
                        <span class="class">girls</span>
                    </div>
                </li>
                <li data-class="angular">
                    <a href=""><img src="assets/img/portfolio/girls/2.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL girls FOTO</span>
                        <span class="class">girls</span>
                    </div>
                </li>
                <li data-class="ES6">
                    <a href=""><img src="assets/img/portfolio/cars/1.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL cars FOTO</span>
                        <span class="class">cars</span>
                    </div>
                </li>
                <li data-class="reactjs">
                    <a href=""><img src="assets/img/portfolio/fashion/2.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL fashion FOTO</span>
                        <span class="class">fashion</span>
                    </div>
                </li>
                <li data-class="nodejs">
                    <a href=""><img src="assets/img/portfolio/animals/1.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL animals FOTO</span>
                        <span class="class">animals</span>
                    </div>
                </li>
                <li data-class="angular">
                    <a href=""><img src="assets/img/portfolio/girls/3.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL girls FOTO</span>
                        <span class="class">girls</span>
                    </div>
                </li>
                <li data-class="ES6">
                    <a href=""><img src="assets/img/portfolio/cars/4.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL cars FOTO</span>
                        <span class="class">cars</span>
                    </div>
                </li>
                <li data-class="reactjs">
                    <a href=""><img src="assets/img/portfolio/fashion/3.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL fashion FOTO</span>
                        <span class="class">fashion</span>
                    </div>
                </li>
                <li data-class="angular">
                    <a href=""><img src="assets/img/portfolio/girls/4.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL girls FOTO</span>
                        <span class="class">girls</span>
                    </div>
                </li>
                <li data-class="nodejs">
                    <a href=""><img src="assets/img/portfolio/animals/6.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL animals FOTO</span>
                        <span class="class">animals</span>
                    </div>
                </li>
                <li data-class="reactjs">
                    <a href=""><img src="assets/img/portfolio/fashion/4.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL fashion FOTO</span>
                        <span class="class">fashion</span>
                    </div>
                </li>
                <li data-class="ES6">
                    <a href=""><img src="assets/img/portfolio/cars/2.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL cars FOTO</span>
                        <span class="class">cars</span>
                    </div>
                </li>
                <li data-class="ES6">
                    <a href=""><img src="assets/img/portfolio/cars/3.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL cars FOTO</span>
                        <span class="class">cars</span>
                    </div>
                </li>
                <li data-class="nodejs">
                    <a href=""><img src="assets/img/portfolio/animals/2.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL animals FOTO</span>
                        <span class="class">animals</span>
                    </div>
                </li>
                <li data-class="nodejs">
                    <a href=""><img src="assets/img/portfolio/animals/3.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL animals FOTO</span>
                        <span class="class">animals</span>
                    </div>
                </li>
                <li data-class="reactjs">
                    <a href=""><img src="assets/img/portfolio/fashion/5.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL fashion FOTO</span>
                        <span class="class">fashion</span>
                    </div>
                </li>
                <li data-class="reactjs">
                    <a href=""><img src="assets/img/portfolio/fashion/6.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL fashion FOTO</span>
                        <span class="class">fashion</span>
                    </div>
                </li>
                <li data-class="ES6">
                    <a href=""><img src="assets/img/portfolio/cars/5.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL cars FOTO</span>
                        <span class="class">cars</span>
                    </div>
                </li>
                <li data-class="nodejs">
                    <a href=""><img src="assets/img/portfolio/animals/4.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL animals FOTO</span>
                        <span class="class">animals</span>
                    </div>
                </li>
                <li data-class="ES6">
                    <a href=""><img src="assets/img/portfolio/cars/6.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL cars FOTO</span>
                        <span class="class">cars</span>
                    </div>
                </li>
                <li data-class="nodejs">
                    <a href=""><img src="assets/img/portfolio/animals/5.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL animals FOTO</span>
                        <span class="class">animals</span>
                    </div>
                </li>
                <li data-class="angular">
                    <a href=""><img src="assets/img/portfolio/girls/5.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL girls FOTO</span>
                        <span class="class">girls</span>
                    </div>
                </li>
                <li data-class="angular">
                    <a href=""><img src="assets/img/portfolio/girls/6.jpg" alt=""></a>
                    <span><em class="fa fa-search"></em></span>
                    <div>
                        <span class="title">BEAUTIFUL girls FOTO</span>
                        <span class="class">girls</span>
                    </div>
                </li>
            </ul>
        </div>            
        <div class="scroller__track">
            <div class="scroller__bar"></div>
        </div>
    </div>
    <!--  //PORTFOLIO  -->  
</div>
<!--  //RIGHT CONTENT  -->