<!-- LEFT MENU  -->
<div class="left-menu">
    <!--  LOGO  -->
    <a class="logo" href="index.html">
        C<em class="fa fa-bullseye"></em>urses
    </a>
    <!--  //LOGO  -->

    <!--  NAVIGATION  -->
    <nav class="main-navi">
        <ul>
            <li>
                <a class="active" id="homeLink" href="index.html">
                    Courses
                    <span class="dot"></span>
                    <span class="corner"></span>
                </a>
            </li>
            <!-- DROP DOWN IN MENU -->
            <!-- <li>
                <div>
                    About
                    <span class="dot"></span>
                    <span class="corner"></span>
                </div>
                <ul class="drop-down">
                    <li>
                        <a href="about.html">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="team.html">
                            Team
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>
        <em id="showHideMenu" class="show-hide-menu fa fa-bars" href=""></em>
    </nav>
    <!--  //NAVIGATION  -->

    <!--  TWITTER  -->
    <!-- <div class="twitter-block flexslider">
        <span class="fa fa-twitter"></span>
        <ul class="slides">
            <li>
                <div class="name">@sabrinadpeters</div>
                <p class="mini">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam.</p>
                <strong>ABOUT 2 HOURS AGO</strong>
            </li>
            <li>
                <div class="name">@sabrinadpeters</div>
                <p class="mini">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam.</p>
                <strong>ABOUT 2 HOURS AGO</strong>
            </li>
            <li>
                <div class="name">@sabrinadpeters</div>
                <p class="mini">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam.</p>
                <strong>ABOUT 2 HOURS AGO</strong>
            </li>
        </ul>
    </div> -->
    <!--  //TWITTER  -->

    <!--  SOCIAL ICONS  -->
    <!-- <div class="soc-icons">
        <a class="fa fa-twitter" href=""></a>
        <a class="fa fa-facebook" href=""></a>
        <a class="fa fa-google-plus" href=""></a>
        <a class="fa fa-linkedin" href=""></a>
        <a class="fa fa-dribbble" href=""></a>
        <a class="fa fa-pinterest" href=""></a>
    </div> -->
    <!--  //SOCIAL ICONS  -->
    <!-- <p class="copy">
        Copyright © 2014, All Rights Reserved
    </p> -->
</div>
<!--  //LEFT MENU  -->