@import url('https://fonts.googleapis.com/css?family=Roboto');


html, body{
  height: 100%;
  font-family: 'Roboto', Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
}

app-shell {
  flex: 1;
  display: flex;
  flex-direction: row;
  md-sidenav {
    width: 300px;
    >span {
      background: url('http://cdn2.thetechhacker.com/wp-content/uploads/2014/11/6.jpg');
      width: 100%;
      height: 240px;
      background-size: cover;
      display:flex;
      background-position: top center;
      color: #FFF;
      position: relative;
      flex-direction: column;
      figure {
        margin: 0;
        flex: 0 0 50%;
        display: flex;
        md-icon {
          font-size: 5em!important;
          height: 100%;
          width: 100%;
          text-align: center;
          line-height: 120px!important;
        }
      }
      figcaption {
        text-align: center;
        position: relative;
      }
      >md-icon {
        width: 100%;
        flex: 1;
        text-align: center;
        line-height: 100px!important;
        font-size: 5em!important;
      }
    }
    >div {
      display: flex;
      flex-direction: column;
      a {
        text-align: left!important;
        color: #000!important;
        padding: 0.2em 2em!important;
      }
    }
  }
  md-sidenav-layout {
    flex:1;
  }
  .app-toolbar-filler {
    flex: 1 1 auto;
  }
  .shellBackground {
    background: url('http://orig00.deviantart.net/d43e/f/2016/196/2/8/material_design_wallpaper_red_034_by_charlie_henson-daa22ts.png');
    width: 100%;
    height: 320px;
    background-size: cover;
    display:block;
    background-position: top center;
    md-toolbar {
      background: transparent; color: #FFF;
    }
  }
  main {
    margin: -170px 0;
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
}
span.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

span.active {
  background-color: gray;
}

.webpack-starter md-card{
  width: 300px;
}
.webpack-starter .wide-card{
  width: 400px;
}

.md-overlay-pane {
  .md-dialog-container {
    transition: all 0.6s ease;
    height: 10vh;
    width: 20vw;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #4DD0E1;
    &.openAnimated {
      height: 85vh;
      width: 85vw;
    }
    md-toolbar {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #26C6DA;
    }
  }
}