<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <h1> Menu </h1>
    <md-nav-list>
        <a md-list-item [routerLink]=" ['./home'] " >Home</a>
        <a md-list-item [routerLink]=" ['./about'] " >About</a>
        <a md-list-item [routerLink]=" ['./nopagefound'] " >No page found</a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="warn">
    <button md-button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Angular 2 Basic
    <!-- <button md-button [routerLink]="['./']" >Index</button>
    <button md-button [routerLink]="['./home']" >Home</button>
    <button md-button [routerLink]="['./about']" >About</button> -->
    <span class="app-toolbar-filler"></span>
  </md-toolbar>
  <main class="core-layout__main">

    <!-- Container of our app, used to load lazy load modules -->
    <router-outlet></router-outlet>
  
  </main>
</md-sidenav-layout>
