<md-sidenav-layout>

  <md-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <span>
        <figure>
          <md-icon>account_circle</md-icon>
        </figure>
        <figcaption>
            <span>Front Stack</span>
        </figcaption>
        <md-icon>code</md-icon>
    </span>

    <div>
        <a md-button md-ripple [routerLink]=" ['./home'] " (click)="sidenav.toggle()" >Home</a>
        <a md-button md-ripple [routerLink]=" ['./about'] " (click)="sidenav.toggle()" >About</a>
        <a md-button md-ripple [routerLink]=" ['./nopagefound'] " (click)="sidenav.toggle()" >No page found</a>
    </div>
  </md-sidenav>
  <span class="shellBackground">
      <md-toolbar>
        <button md-button class="app-icon-button" (click)="sidenav.toggle()">
          <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        Angular 2 Basic
        <span class="app-toolbar-filler"></span>

      </md-toolbar>
    </span>
  <main class="core-layout__main">

    <!-- Container of our app, used to load lazy load modules -->
    <router-outlet></router-outlet>

  </main>
</md-sidenav-layout>
