<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <h1> Side Menu </h1>
    <md-nav-list>
        <a md-list-item [routerLink]=" ['./home'] " >Home</a>
        <a md-list-item [routerLink]=" ['./detail'] " >Detail</a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Angular 2 By Arturozh
    <!-- <button md-button [routerLink]="['./']" >Index</button>
    <button md-button [routerLink]="['./home']" >Home</button>
    <button md-button [routerLink]="['./about']" >About</button> -->
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>
  <main class="core-layout__main">
    <router-outlet></router-outlet>
  </main>

<card-animated title></card-animated>

</md-sidenav-layout>
