/*styles for home content only*/
.card-container{
    display: flex;
    flex-direction: column;
    margin: 15px;
    
    border: 2px dashed #FBC02D;
}
.sample-content{
    flex: 1;
}
.card-container md-card{
    margin: 5px;
}