<div class="app-content"s>
  <h1 x-large class="sample-content">Sample header</h1>
  <md-card color="primary">
    <md-card-title>Card with title</md-card-title>
    <md-card-content>
      For hot module reloading run
      <pre>npm run start:hmr</pre>
    </md-card-content>
  </md-card>
  <hr>
  <md-card>
    <md-card-subtitle>More info on Material Desing</md-card-subtitle>
    <md-card-content>
      Material2 repo: https://github.com/angular/material2
      Theming (Note: theming is in beta): https://github.com/angular/material2/blob/master/docs/theming.md
      Theming your components: https://github.com/angular/material2/blob/master/docs/theming-your-components.md
      For docs on specific components look in the src/lib/*component_name* folder for the component.
      For cards this is here: https://github.com/angular/material2/tree/master/src/lib/card
      Example app: https://github.com/jelbourn/material2-app
    </md-card-content>
  </md-card>
  <div>
    <h4>Local State</h4>

    <md-card>
      <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <md-input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus></md-input>

      <button id="submit-button" md-raised-button color="accent">Submit Value</button>
    </form>
    </md-card>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>

  </div>

</div>
