/*** HERO BANNER ***/

.herobanner {
    background: #2865a2 url('/assets/img/hero-banner.png') no-repeat;
    height: 550px;
}

.codequest {
    display: flex;
}
.herobanner p {
    color: #fff;
    font-size: 24px;
    justify-content: center;
    align-items: flex-end;
}

.herobanner img {
    width: 350px;
    height: 50px;
}




/*** HOW IT WORKS ***/

.box-explained {
    display: flex;
}

.box {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    height: 442px;
    width: 400px;
    flex-direction: row;
}

.box p {
    margin-left: 20px;
}

.login {
   margin-left: 30px;
   background: #2865a2 url('/assets/img/login-banner.png') no-repeat;
}

.download {
   margin-left: 15px;
   background: #2865a2 url('/assets/img/download-banner.png') no-repeat;
}

.create {
   margin-left: 15px;
   background: #2865a2 url('/assets/img/create-banner.png') no-repeat;
}

.hiw {
    display: block;
    margin: 210px auto 0 auto;
    width: 276px;
    height: 76px;
    background: #2865a2;
    border: 2px solid rgb(255,198,0);
    font-size: 36px;
    font-weight: 700;
    color: #ffc600;
    text-transform: uppercase;
}

.hiw a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.hiw a:link {
    color: #ffc600;
}

.hiw a:visited {
    color: #ffc600;
}

.hiw a:hover {
    color: #ffc600;
}

.hiw a:active {
    color: #ffc600;
}
/*** CALL TO ACTION - BOTTOM ***/

.cta {
    height: 887px;
    background: #2865a2 url('/assets/img/cta-image.png') no-repeat;
}