<div class="how-it-works">
  <h1>how it works</h1>
  <div class="box-explained">
    <div class="box login">
      <p>1. Login to our platform using your in-game nickname.<p>
      <button class="hiw" type="button"><a href="#">login</a></button>
    </div>
    <div class="box download">
      <p>2. Download our APP via link provided below<p>
      <button class="hiw" type="button"><a href="#">download</a></button>
    </div>
    <div class="box create">
      <p>3. Create a game to compete with players from all around the world.<p>
      <button class="hiw" type="button"><a href="#">create</a></button>
    </div>
  </div>
</div>

<div class="cta">
  <h2><span>ready</span> for the challenge?</h2>
</div>