.herobanner {
    background: #2865a2 url('/assets/img/hero-banner.png') no-repeat;
    height: 550px;
}

.herobanner p {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: #fff;
    display: block;
    position: relative;
    float: left;
    padding-right: 20px;
    padding-left: 90px;
    margin-top: 500px;
}

.herobanner img {
    width: 350px;
    height: 50px;
    display: block;
    position: relative;
    margin: 445px auto 0 auto;
    float: left;
}